[Desktop Entry]
Name=xdgurl
Exec=xdgurl.xdgurl %u
Icon=${SNAP}/usr/share/icons/hicolor/scalable/apps/xdgurl.svg
Type=Application
Terminal=false
NoDisplay=true
Categories=Network;Utility;
MimeType=x-scheme-handler/xdg;x-scheme-handler/xdgs;
