[Desktop Entry]
Name=xdgurl
Exec=xdgurl %u
Type=Application
Terminal=false
NoDisplay=true
Categories=Network;Utility;
MimeType=x-scheme-handler/xdg;x-scheme-handler/xdgs;
